<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de Filme
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" [routerLink]="'/movies'">
        <ion-icon slot="end" name="person-circle"></ion-icon>
        Movies
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input #title [(ngModel)]="movieModel.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Image</ion-label>
    <ion-input #image [(ngModel)]="movieModel.image"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label>Published Date</ion-label>
    <ion-datetime #publishedDate [(ngModel)]="movieModel.publishDate" displayFormat="YYYY-MM-DD"
      placeholder="Select Published Date"></ion-datetime>
  </ion-item>
  <br>
  <ion-button 
    [disabled]="loading" 
    (click)="saveMovie()" 
    expand="block"
  >{{ loading ? 'Gravando...' : 'Gravar' }}
  </ion-button>
  <div 
    [style]="loading ? 'display: block;' : 'display:none;'"
    *ngIf="loading">
  <img src="assets/loaders/ajax-loader.gif" style="width: 20px;"></div>
</ion-content>